
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Fondof</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="text/html">
    <meta name="author" content="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
   <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

<style>
  h2
    {
      font-family: roboto;
      letter-spacing: 2px;
    }
    .btn-primary,.btn-success
    {
      background-color: #ddaf94!important;
      border-color: black!important;
    }
  button.btn.btn-primary.payment {
                     margin-left:561px;
                     margin-top: 20px;
                    }
  .form-inline .form-control {
    display: inline-block;
    width: 500px;
    vertical-align: middle;
    margin-top:0px;
    
       }
       li.nav-item{
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom:15px;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    font-family: roboto;
    letter-spacing: 2px;
}

.navbar-dark .navbar-nav .nav-link {
  color:white;

}
#footer {
    height: 308px;
    width: 1349px;
    background-color:#343a40;
    margin-top: 200px;
}
#footer
       {
        height: 308px;
        width: 1349px;
        background-color: black;
        padding-right: 20px;
       }
       h2#link {
    margin-top: 56px;
    margin-left: 178px;
    font-family: roboto;
    letter-spacing:1px;
    font-size: 18px;
    color: orange;
}
ul.links {
    margin-top: 0;
    margin-bottom: 10px;
    margin-top: 98px;
    margin-left: -172px;
}
.row {
    margin-right: 19px;
    margin-left:-8px;
}
body
{
  background-color: #e8cebf;
  
}
.bg-dark
{
  background-color: #ddaf94!important;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mynav">
      <a class="navbar-brand" href="/mymac/">Fondof.com</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/mymac/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mymac/about/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mymac/tracker/">Tracking</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">All</a>
              <a class="dropdown-item" href="#">Men</a>
              <a class="dropdown-item" href="#">Women</a>
              <a class="dropdown-item" href="#">Kids</a>
              <a class="dropdown-item" href="#">Electronics</a>
              <a class="dropdown-item" href="#">Fashion</a>
              <div class="dropdown-divider"></div>
              
            </div>
          </li>
          
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Hey! What Are You Looking For Today ..." aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
        
        <li class="nav-item">
          <a class="nav-link" href="/mymac/contact/">ContactUs<span class="sr-only">(current)</span></a>
        </li>
          

      
      </ul>
            
    </div>
    </nav>

<div class="continer">
  <div class="col-md-3">
  </div>
</div>

<section class="text-gray-700 body-font" style="margin-top:-50px;">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900" style="font-family: roboto;">Who We Are ?
       </h1>
      <p class="mb-8 leading-relaxed" style="text-align: justify;font-family: roboto;">This is one of the <b>best Ecommerce firm</b> in INDIA. We are just export and import every type of product as well and <b>we have a lot of product which makes our client happy</b> and if our clients happy so we lot of happy our primary aim is that we know <b>our client's need and desire and we reach as per their requirments.</b></p>
      <div class="flex justify-center">
      
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="{% static 'mymac/images/who.jpg' %}">
    </div>
  </div>
</section>
<section class="text-gray-700 body-font" style="margin-top: -100px;">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <img class="object-cover object-center rounded" alt="hero" src="{% static 'mymac/images/what.jpg' %}"> 
      <div class="flex justify-center">
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900" style="font-family: roboto">What We Do ?
       </h1>
      <p class="mb-8 leading-relaxed" style="text-align: justify;font-family: roboto;">Copper mug try-hard pitchfork pour-over freegan heirloom neutra air plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken authentic tumeric truffaut hexagon try-hard chambray.</p>
     
    </div>
  </div>
</section>
<section class="text-gray-700 body-font" style="margin-top: -100px;">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900" style="font-family: roboto">Client's Trust ?
       </h1>
      <p class="mb-8 leading-relaxed" style="text-align: justify;font-family: roboto;">Copper mug try-hard pitchfork pour-over freegan heirloom neutra air plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken authentic tumeric truffaut hexagon try-hard chambray.</p>
      <div class="flex justify-center">
        
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="{% static 'mymac/images/cust.jpg' %}">
    </div>
  </div>
</section>
<section class="text-gray-700 body-font" style="margin-top: -100px;">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <img class="object-cover object-center rounded" alt="hero" src="{% static 'mymac/images/what.jpg' %}"> 
      <div class="flex justify-center">
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900" style="font-family: roboto">JOBS ?
       </h1>
      <p class="mb-8 leading-relaxed" style="text-align: justify;font-family: roboto;">If you want a job inside the company then <a href="#">Click Here</a>.</p>
     
    </div>
  </div>
</section>

<div id ="footer">


<div class=row>
  <a href="#"><h2 id="link">Quick Links</h2></a>
  <ul class="links">
  <ol><a href="#"><p id="link2">AboutUs</p></a></ol>
  <ol><a href="#"><p id="link3">Track Your Order</p></a></ol>
  <ol><a href="#"><p id="link4">Your Cart</p></a></ol>
  <ol><a href="#"><p id="link4">ContactUs</p></a></ol>
</ul>
<div class=row>
  <a href="#"><h2 id="link">Connect With Us</h2></a>
  <ul class="links">
  <ol><a href="#"><p id="link2">Facebook</p></a></ol>
  <ol><a href="#"><p id="link3">Twitter</p></a></ol>
  <ol><a href="#"><p id="link4">Instagram</p></a></ol>
  <ol><a href="#"><p id="link4">Linkedin</p></a></ol>
</ul>
<div class=row>
  <a href="#"><h2 id="link">For Your Help</h2></a>
  <ul class="links">
  <ol><a href="#"><p id="link2">Top</p></a></ol>
  <ol><a href="#"><p id="link2">Help</p></a></ol>
  <ol><a href="#"><p id="link3">Your Account</p></a></ol>
  <ol><a href="#"><p id="link4">Your Orders</p></a></ol>
  
</ul>
<div class=row>
  <a href="#"><h2 id="link">Your Account</h2></a>
  <ul class="links">
  <ol><a href="#"><p id="link2">Sign Up</p></a></ol>
  <ol><a href="#"><p id="link3">Login</p></a></ol>
  <ol><a href="#"><p id="link4">Fondof</p></a></ol>
  <ol><a href="#"><p id="link4">Products</p></a></ol>
</ul>
  </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


