{% extends 'mymac/basic.html' %}
{% block body %}
{% load static %}
<style>
	
a.btn.btn-primary.myb1 {
    width: 200px;
    margin-left:951px;
    margin-top: -603px;
}
a.btn.btn-primary.myb2 {
    
    width:148px;
    margin-top:15px;
}

input.form-control.myn {
    margin-top: -205px;
    width: 792px;
    margin-left: 314px;
}

p#del {
    margin-left: 310px;
    margin-top: -14px;
}

p#rel {
    margin-top: -31px;
    margin-left: 453px;
}
.progress {
    margin-left:86px;
    margin-right: 1047px;
    margin-top: -29px;

}
.progress-bar
{
  background-color:orange;
}
.checked {
  color: orange;
}
.fa-star
{
  font-size: 20px;
}
textarea.form-control {
    height: auto;
    width: 792px;
    margin-left: 315px;
    margin-top: 20px;
}
a.btn.btn-primary.myrb {
    margin-left: 908px;
    margin-top:11px;
    width: 200px;
}
a.btn.btn-primary.myrb2 {
    margin-left: 1130px;
    width: 200px;
    margin-top: 9px;
}
.mypr
{

    margin-top: 0;
    margin-bottom: 10px;
    margin-right:72px;
    text-align: justify;
    margin-left: 51px;

}
#quantity
{
  width: 40px;
  margin-left: 40px;
  margin-top: -35px;

}
#right-btn
{
 margin-left:80px;
  margin-top:-54px; 
}
#quantity-div
{
  margin-left: 85px;
  margin-top: 30px;
}
a.btn.btn-primary.add-cart {
    width: 147px;
    margin-top: 46px;

 }
 .cartt
 {
  width:147px;
  margin-top: 46px;
 }
 .minus
 {
  width: 40px;
  margin-top:2px;
  margin-left:20px;
 }
 .plus
 {
  width: 40px;
  margin-top:-1px;
  margin-left:2px;
 }
 






	</style>

  <div class="container-fluid">
    <section class="text-gray-700 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="/media/{{product.image}}">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-900 tracking-widest" style="margin-left:22px!important;font-size: 20px;">{{product.product_name}} | {{product.category}}</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1"></h1>
        <div class="flex mb-4">
          <span class="flex items-center" style="margin-left:22px!important;font-size:15px;">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <svg fill="none"  stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <h3 style="margin-left: 10px;font-family: roboto;">Stock Exist | </h3>
            <span class="text-gray-600 ml-3">4 Reviews</span>
          </span>
          <span class="flex ml-3 pl-3 py-2 border-l-2 border-gray-200" >
            <a class="text-gray-500" >
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-2 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
            <a class="ml-2 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
              </svg>
            </a>
          </span>
        </div>
        <p class="leading-relaxed" style="font-family: roboto;margin-left:22px;">{{product.desc|slice:"0:301"}}{{product.desc|slice:"301:602"}}{{product.desc|slice:"602:903"}}</p>
        <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
          <div class="flex">
            <span class="mr-3" style="margin-left: 22px;">Color</span>
            <button class="border-2 border-gray-300 rounded-full w-6 h-6 focus:outline-none"></button>
            <button class="border-2 border-gray-300 ml-1 bg-gray-700 rounded-full w-6 h-6 focus:outline-none"></button>
            <button class="border-2 border-gray-300 ml-1 bg-indigo-500 rounded-full w-6 h-6 focus:outline-none"></button>
          </div>
          <div class="flex ml-6 items-center">
            <span class="mr-3">Size</span>
            <div class="relative">
              <select class="rounded border appearance-none border-gray-400 py-2 focus:outline-none focus:border-indigo-500 text-base pl-3 pr-10">
                <option>SM</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
              </select>
              <span class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900"><b>INR.{{product.price}}.00/-</b></span>
          <button onclick=location.href="/mymac/checkout2/{{product.id}}/{{product.price}}" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded" style="background-color:#ddaf94;">Buy Now</button>
          <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" style="color: red" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

  </div>
{% endblock %}

{% block js %}

<!-- <script>
  if(localStorage.getItem('cart')==null)
  {
    var cart={}


  }
  else
  {

    cart=JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
    update_cart(cart);
    
  }
  $('.cartt').click(function(){
    var idstr=this.id.toString();
    console.log(idstr);

    
    if(cart[idstr]!=undefined)
    {
      cart[idstr]=cart[idstr]+1;
      

    }
    else
    {

      cart[idstr]=1;

    }
    update_cart(cart);
    localStorage.setItem('cart',JSON.stringify(cart));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;

    


});


  function update_cart(cart)
  {
    console.log(cart);
     for(var item in cart)
    {

      document.getElementById('div'+item).innerHTML= "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item +"''>"+cart[item] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'>+</button>";
    }
}


$('.divpr').on("click","button.minus",function(){
  a=this.id.slice(7, );
  cart['pr'+a]=cart['pr'+a]-1;
  cart['pr'+a]=Math.max(0,cart['pr'+a]);
  document.getElementById('valpr'+a).innerHTML=cart['pr'+a];
  update_cart(cart);

});



$('.divpr').on("click","button.plus",function(){
  a=this.id.slice(6, );
  cart['pr'+a]=cart['pr'+a]+1;
  document.getElementById('valpr'+a).innerHTML=cart['pr'+a];
  update_cart(cart);

});



</script> -->



<script>
  if(localStorage.getItem('cart')==null)
  {
    var cart={}


  }
  else
  {
    cart=JSON.parse(localStorage.getItem('cart'));
    sum=0
    for(var item in cart)
    {
      sum+=cart[item][0];
      document.getElementById('cart').innerHTML =sum;
      
    }
    pop_update(cart)
    
  }

function pop_update(cart)
{
    popstr="";
    popstr=popstr+"";
    var i=1;
    for(var item in cart)
    {

      popstr=popstr+"<b>"+i+"."+"</b>";
      popstr=popstr+cart[item][1]+','+"Qty:"+cart[item][0]+'<br>';
      console.log(popstr)
      i=i+1;
    }
    if($.isEmptyObject(cart))
    {
    
    
    }
    else
    {
      popstr=popstr+"<a href='/mymac/cart/'><button class='btn btn-primary cart' id='cart'>Show Cart</button></a><button onclick='clear_cart()'id='cart_clear' class='btn btn-primary clear_cart'>Clear Cart</button>"
      document.getElementById('toolcart').innerHTML=popstr+'<br>';

    
    }
}
  

 


  

</script>






{% endblock %}
























